{% extends "users/account_base.html" %}

{% block title %}Saved apartments{% endblock %}

{% block dash_content %}
<div class="dash-head">
  <div>
    <h1>Saved apartments</h1>
    <p>Keep track of the places you like.</p>
  </div>
</div>
{% url 'apartments:list' as list_url %}
{% include "partials/empty_state.html" with empty_icon="heart" title="Favorites are coming soon" text="Soon you'll be able to save apartments with one click and find them here. In the meantime, keep exploring!" action_url=list_url action_label="Browse apartments" %}
{% endblock %}
